<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(bird, index) in birds"
          :class="bird"
          :key="index">
        {{ bird }} - {{ index }}
      </li>
    </ul>
    <ul>
      <li v-for="(person, index) in people"
          :key="index">
        <div v-for="(value, key, i) in person"
             :key="i">
          {{ key }}: {{ value }}
          index: {{ `${index }${i}` }}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>